<div class="main-container">
  <div class="content">
      <div class="header">
          <h1>Video Stream Library</h1>
      </div>
      <div class="row margin25">

          <div class="col-md-4">

          </div>
          <div class="col-md-4">
              <div class="input-group">
                  <div class="custom-file">
                    <form [formGroup]="form">
                      <label>Title</label>
                      <div class="form-element input-group">
                        <input
                          id="title"
                          class="form-control"
                          formControlName="title"
                          type="text"
                        />
                      </div>
                      <label>Categories</label>
                      <div class="form-element">
                        <select class="form-select form-element" aria-label="Default select example" formControlName="categoryId">
                          <option *ngFor="let category of categories" [value]="category.id">{{category.title}}</option>
                        </select>
                      </div>
                      <div class="form-element">
                        <input
                         #fileInput
                         (change)="fileChange($event)"
                        type="file"
                        class="custom-file-input"
                        aria-describedby="inputGroupFileAddon01"
                        accept=".mp4,.mov"
                        >
                      </div>
                      <div class="input-group-prepend">
                        <button  class="input-group-text upload"  (click)="upload()"  id="btnUpload">Upload</button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">

          </div>
      </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">List of Videos</div>
  <ul
    class="list-group list-group-flush"
    *ngFor="let video of videoList"
  >
    <li class="list-group-item">
      <img [src]="video.thumbnail" [title]="video.title" (click)="playVideo(video.path)">
      <div class="list-group-item__text">
        <h4>{{video?.title}}</h4>
        <p>{{video?.category?.title}}</p>
      </div>
      <button class="trash-icon" aria-hidden="true" (click)="removeVideo(video.id)"></button>
    </li>
  </ul>
</div>

<div class="video-wrapper" *ngIf="showVideo">
  <video [src]="selectedVideo" width="1080px" loop autoplay
  controls></video>
  <button type="button" class="btn btn-secondary" (click)="closeVideoPlayer()">Close the player</button>
</div>


